@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #8F91CC;
	background-image: linear-gradient(to bottom, #8F91CC, #6D70AA);
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #FFF;
	font-weight: bold;
	border: 0;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #1B6BA1;
	background-image: linear-gradient(to bottom, #1B6BA1, #094980);
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #F8574D;
	background-image: none;
}	