@charset "UTF-8";
/* CSS Document */

.bottom {
	width: 100%;
	background: #C9EAF5;
	text-align: center;
	height: 12rem;
}

.bottom p, b {
	color: #1B6BA1;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social li:before {
	content: "";
}

.social li a,
.social li a:link,
.social li a:visited {
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 2rem;
	padding-top: 0.6rem;
	border-radius: 20%;
	color: #fff;
	
	-webkit-box-shadow: inset 0px 0px 0px 40px #8F91CC;
	-moz-box-shadow: inset 0px 0px 0px 40px #8F91CC;
	-ms-box-shadow: inset 0px 0px 0px 40px #8F91CC;
	-o-box-shadow: inset 0px 0px 0px 40px #8F91CC;
	box-shadow: inset 0px 0px 0px 40px #8F91CC;
}
	
.social li a:hover,
.social li a:active,
.social li a:focus {
	color: #8F91CC;
	background-color: #fff;
	
	-webkit-box-shadow: inset 0px 0px 0px 3px #8F91CC;
	-moz-box-shadow: inset 0px 0px 0px 3px #8F91CC;
	-ms-box-shadow: inset 0px 0px 0px 3px #8F91CC;
	-o-box-shadow: inset 0px 0px 0px 3px #8F91CC;
	box-shadow: inset 0px 0px 0px 3px #8F91CC;
}