@charset "UTF-8";
/* CSS Document */

.grid {
    overflow: hidden;
	border: 1px solid red;
}

.gutter {
    padding-left: 1em;
    padding-right: 1em;
}

.unit {
    float: left;
    width: 33.3333%;
}

.unit-s-1 {
	width: 100%;	
}

.unit-s-1-2 {
	width: 50%
}


@media only screen and (min-width: 38em) {
	
	.unit-m-1 {
		width: 100%
	}
	
	.unit-m-1-2 {
		width: 50%;
	}
	
	.unit-m-1-3 {
		width: 33.3333%;
	}
}

@media only screen and (min-width: 50em) {
	
	.unit-l-1-3 {
		width: 33.3333%;	
	}
	
	.unit-2-3 {
    width: 66.6667%;
	}
	
}