# Accessibility Testing Report

User testing was conducted by Julia Paddick on March 31 between the times of 9:00AM and 11:00AM with the following participants:

- Rudy Gordon
- Brittany Hogg
- Emily Prochnau
- Adriana Granieri
- Zhongze Jiang
- Laura Garcia

## Tasks

1. Find the product pages for candles.
2. Put an item in your cart.
3. Find the link to Facebook.

---

## Individual Results & Observations

### Rudy Gordon

- Keyboard
- Completed the tasks as expected.
- Commented that the product links should have greater contrast between hover and non-hover states.

### Brittany Hogg

- Keyboard
- Completed tasks as expected.
- Had to scroll at one point.
- Liked the dotted outline on the a:focus.

### Emily Prochnau

- Keyboard
- Completed the tasks as expected.

### Adriana Granieri

- VoiceOver
- Had troubles when she reached the second navigation in product pages.
- The second navigation confused her because she couldnt tell that she was on the right page already.

### Zhongze Jiang

- VoiceOver
- Navigated pretty well but needed help with getting to the products.

### Laura Garcia

- VoiceOver
- Had troubles with the product pages sub-navigation
- Did better when I added the nav role to my sub-nav.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- All participants were confused when they reached the sub-navigation in product pages.

### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- Should style active links to be more obvious.