---
layout: default
title: Home
meta: Vela Vida Candles
showbanner: yes
bannertext: Beautiful handcrafted candles
---

<div class="grid center">

	<div class="gutter">
		<h2 class="yotta">Welcome</h2>
		<p class="mega lower">Bring life to any space with our scented candles and home décor products!</p>
	</div>

</div>

<div>

	<div>
		{% include promo-large.html title="Mason Jar Candles" desc="Check out deals on these pastel perfections!" image="mason.jpg" %}
	</div>

</div>


<div class="grid">
	
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Soy Candles" desc="View our selection of finely crafted soy candles." image="soy.jpg" %}
	</div>
	
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Candle Holders" desc="See cute candle holders like this and more." image="birds.jpg" %}
	</div>
	
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Custom Candles" desc="A great gift for someone special." image="custom.jpg" %}
	</div>
	
</div>