# User Testing Report

User testing was conducted by Julia Paddick on March 24th, 2014 between the times of 10:00am and 11:00am with the following participants:

- Rudy Gordon
- Grant Jeffery
- {Jordan Doe}

## Tasks

1. View all the candle products on the site.
2. Use the search bar to find a product and buy it.
3. Return to home and find the contact info.

-------------------------------------------------------------------------------------


## Individual Results & Observations

### Rudy Gordon

Task 1
- He clicked on the links as expected

Task 2
- He clicked on the links as expected
- Note: He clicked only on images when viewing products

Task 3
- He clicked on the links as expected

-----------------------------------------

### Grant Jeffery

Task 1
- He clicked on the links as expected

Task 2
- He clicked on the links as expected
- Note: He clicked "update" button on second product before clicking checkout

Task 3
- He clicked on the links as expected

-----------------------------------------

### {Jordan Doe}

Task 1
- He clicked on the links as expected

Task 2
- He clicked on the links as expected
- Note: He clicked only on images when viewing products

Task 3
- He clicked on the links as expected

-------------------------------------------------------------------------------------

## Trends

### Critical, Needs Fixing, Unable to Complete

- None

### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- May need to edit cart page to make it immediately clear where to checkout