<div class="grid">
	<div class="unit gutter unit-s-1-3 unit-m-1-3 unit-l-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/{{include.image}}" alt="{{include.title}}">
	</div>
	
	<div class="unit gutter unit-s-1-3 unit-m-1-3 unit-l-1-3">
		<h3 class="giga">{{include.title}}</h3>
		<h4 class="kilo">Quantity: {{include.quantity}}</h4>
		<a href="#" class="btn btn-alt micro lower">Remove</a>
	</div>
	
	<div class="unit gutter unit-s-1-3 unit-m-1-3 unit-l-1-3">
		<h4 class="giga">{{include.price}}</h4>
	</div>
</div>