---
layout: default
category: filter
name: Candles Filter
image: birds.jpg
title: Candles
meta: Vela Vida Candles Shop
---

<div class="grid">
	
	<div class="gutter">
		
		<h2 class="center yotta">Candle Products</h2>

		<dl>
			{% for products in site.pages %}
		
				{% if products.filter == 'candles' %}
				
				<dt><a href="{{site.baseurl}}{{products.url}}"><img class="img-flex" src="{{site.baseurl}}/images/{{products.image}}" alt="products"></a></dt>
				<dd><a href="{{site.baseurl}}{{products.url}}"><h2>{{products.name}}</h2></a></dd>
		
				{% endif %}
		
			{% endfor %}
		</dl>
		
	</div>

</div>