<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<title>Ecommerce Website</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
</head>

<body>

	<header class="nav">
			
		<a href="index.html"><img src="../images/logo.svg" alt="Company Name" class="logo"></a>
			
		<h1>Vela Vida Candles</h1>
			
		<nav>
			
			<ul>
				<li><a href="/" class="selected">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="products">Products</a></li>
			</ul>
		
		</nav>
		
	</header>

{{content}}

	<div class="bottom">
	
		<hr></hr>
		
		<p>© Copyright 2014 <b>All Rights Reserved.</b></p>

		<ul class="social">
			<li>
				<a class="ease-all" href="#">
					<i class="fa fa-facebook"></i>
					<span class="hide-text">Facebook</span>
				</a>	
			</li>
			
			<li>
				<a class="ease-all" href="#">
					<i class="fa fa-twitter"></i>
					<span class="hide-text">Twitter</span>
				</a>	
			</li>
				
			<li>
				<a class="ease-all" href="#">
					<i class="fa fa-google-plus"></i>
					<span class="hide-text">Google +</span>
				</a>	
			</li>
		</ul>
			
	</div>
	
</body>

</html>