<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<title>{{page.title}} · Ecommerce Website</title>
	<meta name="description" content="{{page.meta}}">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
</head>

<body>

	<header class="nav" role="banner">
			
		<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/vida-logo.svg" alt="Company Logo" class="logo"></a>
			
		<h1>Vela Vida Candles</h1>
			
		<nav role="navigation">
			
			<ul>
				<li><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
				<li><a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a></li>
				<li><a class="{% if page.url == '/products/' %}current{% endif %}" href="{{site.baseurl}}/products/">Products</a></li>
				<li><form method="get" action="{{site.baseurl}}/search/" role="search">
  					<input type="hidden" name="cref" value="" />
  					<input type="hidden" name="ie" value="utf-8" />
 					<input type="hidden" name="hl" value="" />
 					<input name="q" type="text" size="20" />
					<input type="submit" name="sa" value="Search" class="btn" />
					</form></li>
			</ul>

		</nav>
		
	</header>
	
	{% if page.showbanner %}
	<div class="banner">
		<h2 class="yotta">{{page.bannertext}}</h2>
	</div>
	{% endif %}

{{content}}

	<div class="bottom" role="contentinfo">
	
		<hr></hr>
		
		<p>© Copyright 2014 <b>All Rights Reserved.</b></p>
		
		<h4 class="mega lower">Contact: 613-406-2454 · 792 North Street, Ottawa Ontario · sayhello@velavida.ca</h4>

		<ul class="social">
			<li>
				<a class="ease-all" href="#">
					<i class="fa fa-facebook"></i>
					<span class="hide-text">Facebook</span>
				</a>	
			</li>
			
			<li>
				<a class="ease-all" href="#">
					<i class="fa fa-twitter"></i>
					<span class="hide-text">Twitter</span>
				</a>	
			</li>
				
			<li>
				<a class="ease-all" href="#">
					<i class="fa fa-google-plus"></i>
					<span class="hide-text">Google +</span>
				</a>	
			</li>
		</ul>
			
	</div>
	
</body>

</html>